<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	  autoReload="true"
	  throwExceptions="false"
	  internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

	<variable name="appdatafolder" value="${basedir}/Logs/${shortdate}"/>
	<variable name="layoutDef" value="${longdate} ${uppercase:${level}} PID:${processid} TID:${pad:padding=2:inner=${threadid}} ${logger:shortName=true}: ${message} ${exception:format=tostring}"/>

	<targets>
		<target xsi:type="File" name="file" fileName="${var:appdatafolder}/${shortdate}.log"
			layout="${var:layoutDef}"
			archiveAboveSize="50000000"
			concurrentWrites="true"/>

		<target xsi:type="File" name="mqttfile" fileName="${var:appdatafolder}/${shortdate}mqtt.log"
			layout="${var:layoutDef}"
			archiveAboveSize="50000000"
			concurrentWrites="true"/>

		<target xsi:type="File" name="logapifile" fileName="${var:appdatafolder}/${shortdate}logapi.log"
			layout="${var:layoutDef}"
			archiveAboveSize="50000000"
			concurrentWrites="true"/>

		<target xsi:type="File" name="webhost" fileName="${var:appdatafolder}/${shortdate}webhost.log"
			layout="${var:layoutDef}"
			archiveAboveSize="50000000"
			concurrentWrites="true"/>

		<target xsi:type="File" name="MQTTMsgParserfile" fileName="${var:appdatafolder}/${shortdate}MQTTMsgParserfile.log"
			layout="${var:layoutDef}"
			archiveAboveSize="50000000"
			concurrentWrites="true"/>

		<target xsi:type="Debugger" name="debugger"
			layout="${longdate} ${uppercase:${level}} PID:${processid} TID:${pad:padding=2:inner=${threadid}} ${logger:shortName=true}: ${message} ${exception:format=tostring}"/>

		<target xsi:type="Console" name="console"
			layout="${longdate} ${uppercase:${level}} ${logger:shortName=true}: ${message} ${exception:format=tostring}"/>
	</targets>

	<rules>
		<logger name="GeniView.Cloud.Controllers.API.LogApiController" minlevel="Info" writeTo="logapifile" />
		<logger name="GeniView.Cloud.Common.MQTTHelper" minlevel="Info" writeTo="mqttfile" />
		<logger name="GeniView.Cloud.Common.Queue.QueueHelp" minlevel="Info" writeTo="queuehelpfile" />
		<logger name="GeniView.Cloud.Common.MQTTMsgParser" minlevel="Info" writeTo="MQTTMsgParserfile" />
		<logger name="GeniView.Cloud.Common.WebHost" minlevel="Info" writeTo="webhost" />
		<logger name="*" minlevel="Info" writeTo="file" />
		<logger name="*" minlevel="Info" writeTo="console" />
	</rules>
</nlog>
